<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="icon"
            type="image/png"
            th:href="@{/assets/images/logo/logo.png}"
        />
        <title>Admin Dashboard</title>
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    </head>
    <body onload="renderContent()">
        <div class="container">
            <div class="wrapper">
                <div id="header"></div>

                <main class="main-content">
                    <div class="search-container">
                        <input
                            type="text"
                            id="searchBar"
                            placeholder="Search doctors..."
                        />
                    </div>

                    <div class="filter-container">
                        <select id="timeFilter">
                            <option value="all">All Times</option>
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>

                        <select id="specialtyFilter">
                            <option value="all">All Specialties</option>
                            <option value="cardiologist">Cardiologist</option>
                            <option value="dentist">Dentist</option>
                            <option value="dermatologist">Dermatologist</option>
                            <option value="neurologist">Neurologist</option>
                            <option value="pediatrician">Pediatrician</option>
                        </select>
                    </div>

                    <div id="content"></div>
                </main>

                <div id="footer"></div>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modal-body"></div>
            </div>
        </div>

        <script th:src="@{/assets/js/render.js}" defer></script>
        <script th:src="@{/assets/js/util.js}" defer></script>
        <script th:src="@{/assets/js/header.js}" defer></script>
        <script th:src="@{/assets/js/footer.js}" defer></script>

        <script
            type="module"
            th:src="@{/assets/js/adminDashboard.js}"
            defer
        ></script>
        <script
            type="module"
            th:src="@{/assets/js/doctorCard.js}"
            defer
        ></script>
    </body>
</html>
