<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="icon"
            type="image/png"
            th:href="@{/assets/images/logo/logo.png}"
        />
        <title>Doctor Dashboard</title>
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    </head>
    <body onload="renderContent()">
        <div class="container">
            <div class="wrapper">
                <div id="header"></div>

                <div class="main-content">
                    <input
                        type="text"
                        id="searchBar"
                        class="searchBar"
                        placeholder="Search Bar for custom output"
                    />

                    <div class="filter-controls">
                        <button id="todayButton">Today</button>
                        <input type="date" id="datePicker" />
                    </div>

                    <table class="patient-table">
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Phone No.</th>
                                <th>Email</th>
                                <th>Prescription</th>
                            </tr>
                        </thead>
                        <tbody id="patientTableBody"></tbody>
                    </table>
                </div>
                <div id="footer"></div>
            </div>
        </div>

        <script th:src="@{/assets/js/render.js}" defer></script>
        <script th:src="@{/assets/js/util.js}" defer></script>
        <script th:src="@{/assets/js/header.js}" defer></script>
        <script th:src="@{/assets/js/footer.js}" defer></script>
        <script th:src="@{/assets/js/doctorDashboard.js}" defer></script>
    </body>
</html>
