.table-header {
    font-size: 24px;
    color: #015c5d;
    margin-bottom: 30px;
    margin-right: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
}

thead {
    background-color: #33333310;
    color: #fff;
}

td,
th {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f959;
}

tbody tr:nth-child(odd) {
    background-color: #fffffff0;
}

tbody tr:hover {
    background-color: #015c5d39;
}

.prescription-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition:
        transform 0.2s,
        brightness 0.2s;
}

.prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.prescription-btn:active {
    transform: scale(0.95);
}

.noPatientRecord {
    font-size: 16px;
    font-style: italic;
    color: grey;
}

.today-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: #015c5d;
    border: none;
    color: white;
    cursor: pointer;
}

.date-picker {
    margin-left: 10px;
    margin-top: 13px;
    border-radius: 8px;
    padding: 10px;
    height: 30px;
    width: 200px;
}
